.span3.well
  .id
    Id
    = theme.template_monster_id
  .price
    Price
    = theme.price

  -#=# form_tag '/orders/new', id: 'themes_form', method: :get do
  -#=# form_tag new_theme_order_path(theme), method: :get do
  -#  -#= hidden_field_tag 'theme_id', theme.id
  -#  =# submit_tag 'Order'
  .images
    %img{src: theme.screenshot_list[1], width: 215, height: 166 }
