.span3.well
  .id
    Id
    = theme.template_monster_id
  -#.price
  -#  Price
  -#  = theme.price

  -#= link_to "Order", themes_path(theme: theme.attributes), method: :post, remote: true
  = link_to image_tag(theme.screenshot_list[1], width: 215, height: 166), themes_path(theme: theme.attributes), method: :post, remote: true
  -#.images
  -#  %img{src: theme.screenshot_list[1], width: 215, height: 166 }
