// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well.active{

}

.well.inactive{
  background-color: #aaaaaa;
}

.id{
  height: 40px;
  font-size: 1.2em;
  text-align: center;
}


.tags{
  font-size: 0.8em;
  text-align: justify;
  height: 125px;
  overflow: hidden;
}


.thumb img{
  //width: 215px;
  //height: 166px;
}

.thumb a{
  margin-right: auto;
  margin-left: auto;
}

.tags {
}

#theme_action_bar{
  padding-bottom: 20px;
}